schema2proto-lib/src/test/resources/xsd/complexTypeRenaming.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myrecipes.org/"
  xmlns="http://myrecipes.org/" elementFormDefault="qualified">
  <xs:element name="ElementListOriginalName">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ElementInListOfComplexTypeOriginalName" type="ComplexTypeOriginalName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ComplexTypeOriginalName">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ElementInListOriginalName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
