schema2proto-lib/src/test/resources/xsd/test-enumeration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
    <xsd:simpleType name="EnumType" final="#all">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="value1"/>
            <xsd:enumeration value="value2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeWithEnum">
        <xsd:attribute name="enumAttribute" type="EnumType"/>
    </xsd:complexType>
</xsd:schema>
