schema2proto-lib/src/test/resources/xsd/test-attribute-restrictions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
    <xsd:simpleType name="EnumType" final="#all">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="value1"/>
            <xsd:enumeration value="value2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MinLengthType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TypeWithEnum">
        <xsd:attribute name="enumAttribute" type="EnumType"/>
        <xsd:attribute name="minLengthAttribute" type="MinLengthType"/>
    </xsd:complexType>
</xsd:schema>
