schema2proto-lib/src/test/resources/xsd/basic/emptygroup.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xs:complexType name="abstractTopLevelComplexType" abstract="true">
        <xs:sequence>
            <xs:group ref="group"/>
        </xs:sequence>
        <xs:attribute name="abstractTopLevelComplexTypeAttribute" type="xs:string"/>
    </xs:complexType>

    <xs:group name="group">
        <xsd:sequence/>
    </xs:group>
</xs:schema>
