schema2proto-lib/src/test/resources/xsd/basic/packed.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="A">
        <xs:sequence>
            <xs:element type="xs:boolean" name="packed" minOccurs="2" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="V">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VAL1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
