schema2proto-lib/src/test/resources/xsd/basic/unboundedchoices.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:complexType name="Outer">
        <xsd:choice maxOccurs="2">
            <xsd:element name="option1" type="xsd:string"/>
            <xsd:element name="option2" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>
</xs:schema>
