schema2proto-lib/src/test/resources/xsd/basic/xsdoption.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:complexType name="a">
        <xs:attribute type="xs:string" name="field_from_a"/>
    </xs:complexType>

    <xs:complexType name="b">
        <xs:complexContent>
            <xs:extension base="a">
                <xs:attribute name="field_from_b" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
